@charset "UTF-8";

@media screen and (min-width: 1100px){
    section {
        width: 90%;
    }

    picture > img {
        float: left;
        width: 60%;
        height: 100%;
        width: 500px;
    }

    .corpo {
        float: right;
        width: 40%;
    }
}