@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*
font-family: 'Karla', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 500px;
    width: 700px;
}

.parte1 {
    padding-left: 30px;
}

.titulo {
    color: hsl(179, 62%, 43%);
    font-size: 20px;
    margin-bottom: 25px;
}

.titulo2 {
    color: hsl(71, 73%, 54%);
    font-size: 16px;
    margin-bottom: 15px;
}

.texto {
    color: hsl(180, 1%, 70%);
    font-size: 15px;
    padding-bottom: 40px;
}

.parte2 {
    background-color: hsl(179, 62%, 41%);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parte2-1 {
    background-color: hsl(179, 62%, 41%);
    padding: 40px;
}

.parte2-2 {
    background-color: hsl(179, 62%, 43%);
    padding: 40px;
}

h1 {
    font-size: 16px;
}

.titulo1 {
    margin-bottom: 20px;
}

strong {
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-right: 6px;
}

h2 {
    font-size: 15px;
    color: hsla(0, 1%, 85%, 0.645);
    display: flex;
    align-items: center;
}
