@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* font-family: 'Hanken Grotesk', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 620px;
    height: 430px;
    display: flex;
    background-color: white;
    border-radius: 28px;
    box-shadow: 0 10px 20px #00000025;
}

.titulo {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.54);
}

.great {
    font-size: 25px;
}

.container .side {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .side:first-child {
    border-radius: 28px;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    color: rgb(255, 255, 255);
    padding-top: 32px;
}

.container .side:last-child {
    padding: 0 30px;
    padding-top: 10px;
}

.container .circle {
    width: 166px;
    height: 166px;
    border-radius: 100%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
}

.container .circle h1 {
    font-size: 50px;
    font-weight: 700;
}

.container .circle p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.462);
}

.container .side:first-child p:last-of-type {
    padding: 0 50px;
    text-align: center;
    margin-top: 10px;
}

.container .side:last-child h3 {
    font-weight: 800;
    color: #303b59;
    padding-top: 23px;
    padding-right: 200px;
}

.container .side:last-child ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.container .side:last-child ul li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 14px;
}

.container .side:last-child ul li:nth-child(1) {
    background-color: #fff6f5;
}

.container .side:last-child ul li:nth-child(2) {
    background-color: #fffbf2;
}

.container .side:last-child ul li:nth-child(3) {
    background-color: #f2fbfa;
}

.container .side:last-child ul li:nth-child(4) {
    background-color: #f3f3fd;
}

.container .side:last-child ul li div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}

.container .side:last-child ul li:nth-child(1) div span {
    color: #ff1400;
}

.container .side:last-child ul li:nth-child(2) div span {
    color: #ffb100;
}

.container .side:last-child ul li:nth-child(3) div span {
    color: #00e6cc;
}

.container .side:last-child ul li:nth-child(4) div span {
    color: #0000ff;
}

.container .side:last-child ul li span {
    color: #303b5975;
}

.container .side:last-child ul li span b {
    color: #303b59;
}

.container .side:last-child a {
    width: 100%;
    line-height: 50px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    background-color: hsl(224, 30%, 27%);
    transition-duration: 300ms;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}

.container .side:last-child a:hover {
    background-color: #312ced;
}

@media screen and (max-width: 650px) {
    body {
        height: 100vh;
        display: flex;
    }

    .container {
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo {
        padding-top: 15px;
    }

    .container .circle p {
        padding: 10px;
    }
}