@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 45px 75px;
}

.logo {
    width: 180px;
    margin-bottom: 39px;
}

.ilustracao {
    width: 710px;
}

.direito {
    height: 470px;
    margin-top: 160px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    margin-bottom: 20px;
    line-height: 50px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.redesocial {
    display: flex;
    align-items: end;
}
