@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: ;
}

.primeiro {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 2.1em;
}

.segundo {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.p1 {
    text-align: center;
    font-size: 14px;
    color: hsl(229, 6%, 66%);
    margin-bottom: 30px;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1165px;
    height: 540px;
    background-color: black;
}

.supervisor {
    position: absolute;
    top: 145px;
    left: 0;
    background-color: darkred;
    width: 375px;
    height: 250px;
    padding: 30px;
}

.team_builder {
    background-color: darkred;
    width: 375px;
    height: 250px;
    margin-bottom: 20px;
    padding: 30px;
}

.karma {
    background-color: darkred;
    width: 375px;
    height: 250px;
    padding: 30px;
}

.calculator {
    position: absolute;
    top: 145px;
    left: 790px;
    background-color: darkred;
    width: 375px;
    height: 250px;
    padding: 30px;
    padding-top: 25px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: hsl(234, 12%, 34%);
}

.p {
    line-height: 25px;
    font-size: 13px;
    color: hsl(229, 6%, 66%);
}

.p2 {
    width: 230px;
}

.p3 {
    width: 250px;
}

.p4 {
    width: 270px;
}

.p5 {
    width: 270px;
}

img {
    width: 50px;
    margin-top: 55px;
    margin-left: 265px;
}