@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Big Shoulders Display', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.75);
}

.container {
    display: flex;
    width: 55%;
    height: 500px;
}

img {
    width: 60px;
}

.amarelo {
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.azul {
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}

.verde{
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    
}

a {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    text-decoration: none;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.link {
    display: flex;
    height: 150px;
    align-items: end;
}

.link1 {
    color: hsl(31, 77%, 52%);
}

.link1:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(31, 100%, 37%);;
}

.link2 {
    color: hsl(184, 100%, 22%);
}

.link2:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(185, 100%, 18%);
}

.link3 {
    color: hsl(179, 100%, 13%);
}

.link3:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(180, 100%, 9%);
}

@media screen and (max-width: 750px) {
    body {
        height: 100vh;
        width: 100vw;
    }

    .container {
        display: flex;
        margin-bottom: 125px;
        flex-direction: column;
        width: 350px;
    }

    .amarelo {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .verde {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .link {
        height: 40px;
        margin-top: 30px;
    
    }
}