@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/*
font-family: 'League Spartan', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    width: 950px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
    color: hsl(300, 43%, 22%);
    margin-bottom: 25px;
}

.text {
    color: hsl(303, 10%, 53%);
    line-height: 20px;
    font-size: 15px;
    width: 345px;
    text-align: justify;
}

.direito {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.img {
    display: flex;
    flex-direction: row;
}

.star {
    margin-right: 7px;
    width: 13px;
}

.estrela {
    margin-right: 25px;
    width: 13px;
}

.star1 {
    display: flex;
    margin-bottom: 50px;
    padding-top: 45px;
    padding-right: 180px;
    font-size: 15px;
}

.star2 {
    display: flex;
    margin-bottom: 50px;
    padding-right: 100px;
    padding-left: 40px;
    font-size: 15px;
}

.star3 {
    display: flex;
    padding-right: 60px;
    padding-left: 80px;
    font-size: 15px;
}

.perfil {
    display: flex;
    justify-content: space-between;
}

.colton {
    position: relative;
    background-color: hsl(300, 43%, 22%);
    height: 200px;
    width: 300px;
    border-radius: 5px;
    padding: 25px;
}

.foto_colton {
    display: inline;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.irene {
    position: relative;
    background-color: hsl(300, 43%, 22%);
    height: 200px;
    width: 300px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 15px;
}

.foto_irene {
    display: inline;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.anne {
    position: relative;
    background-color: hsl(300, 43%, 22%);
    height: 200px;
    width: 300px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 25px;
}

.foto_anne {
    display: inline;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}

.wallace {
    padding-left: 55px;
}

span {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    height: 35px;
    justify-content: center;
    line-height: 17px;
    font-size: 14px;
}

.nome {
    font-weight: 500;
    color: hsl(300, 24%, 96%);
}

.verified {
    color: hsl(333, 80%, 67%);
}

.texto {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    color: hsl(300, 24%, 96%);
    width: 240px;
}

@media screen and (max-width: 660px) {

    .container {
        display: flex;
        width: 340px;
        margin-bottom: 100px;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;
    }

    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 40px;
        font-size: 2.9em;
        margin-bottom: 25px;
    }

    .text {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .direito {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }

    .img {
        display: flex;
        justify-content: center;
        width: 350px;
        margin-bottom: 20px;
    }

    .star, .estrela {
        width: 20px;
        margin-left: 5px;
    }

    .star1 {
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .star1_1 {
        font-size: 22px;
        width: 350px;
    }

    .star2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }


    .star2_1 {
        font-size: 22px;
        width: 350px;
    }

    .star3 {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    .star3_1 {
        font-size: 22px;
        width: 350px;
    }

    .perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .colton {
        height: 250px;
        width: 330px;
        padding: 40px;
        border-radius: 10px;
    }

    .foto_colton {
        width: 50px;
    }

    .irene {
        height: 250px;
        width: 330px;
        padding: 40px;
        border-radius: 10px;
    }

    .foto_irene {
        width: 50px;
    }

    .anne {
        height: 250px;
        width: 330px;
        padding: 40px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .foto_anne {
        width: 50px;
    }

    .wallace {
        padding-left: 75px;
    }

    span {
        height: 50px;
        font-size: 19px;
        line-height: 22px;
    }

    .texto {
        font-size: 17px;
    }
}